streamlit==1.36.0

pandas==2.3.3
numpy==2.1.3
pyarrow

joblib==1.5.3
gdown==6.0.0
PyYAML==6.0.3

lightgbm==4.6.0
scikit-learn==1.8.0
skforecast==0.22.0

openpyxl==3.1.5
requests==2.32.5

holidays==0.98
yfinance==1.4.1

requests-cache==1.3.2
retry-requests==2.0.0
openmeteo-requests==1.7.5
openmeteo-sdk==1.26.0
catboost
plotly
dropbox
lxml
shap
